{#{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1>Categoryattribute creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('product_categoryattribute_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

#}


{% extends 'admin/base.html.twig' %}

{% block body %}
 <h1>Categoryattribute creation</h1>

    <div class="col-md-8 compose-right">
        <div class="inbox-details-default">
            <div class="inbox-details-heading">
                <li>
                      <a href="{{ path('product_categoryattribute_index') }}">Back to the list</a>
                </li>
            </div>
            <div class="inbox-details-body">
                <div class="alert alert-info">
                    Please fill Details to send a New Category Attribute
                </div>

                {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                <input class="btn btn-default cont-btn" type="submit" value="Create" />
                {{ form_end(form) }}



            </div>
        </div>
    </div>
    <br>
{% endblock %}
