{% extends 'base.html.twig' %}

{% block body %}
    <div class="header-end">
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    <div class="carousel-inner" role="listbox">



                        {% for i in SlidShow %}
                            {% if loop.index0%1 == 0 %}
                                {% if     loop.index0 >0 %}
                                </div>
                            {% endif%}
                            {% if loop.index0 == 0 %}
                                <div class="item active">
                                {% else %}
                                    <div class="item">
                                    {% endif%}
                                {% endif%}
                                <img  src="{{asset("files/") ~ i.ext}}" alt="...">
                                <div class="carousel-caption car-re-posn">
                                    <h3>AirMax</h3>
                                    <h4>You feel to fall</h4>
                                    <span class="color-bar"></span>
                                </div>
                            {% endfor %}
                        </div>



                    </div>


                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left car-icn" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right car-icn" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="feel-fall">
        <div class="container">
            {%  for l in FallLeft %}
                <div class="pull-left fal-box">
                    <div class="fall-left">
                        <h3>Fall</h3>

                        <img  src="{{asset("files/") ~ l.ext}}" alt="/" class="img-responsive fl-img-wid">

                        <p>Inspiration and innovation<br> for every athlete in the world</p>
                        <span class="fel-fal-bar"></span>
                    </div>
                </div>
            {% endfor %}
            {%  for r in FeelRight%}
                <div class="pull-right fel-box">
                    <div class="feel-right">
                        <h3>Feel</h3>

                        <img src="{{asset("files/") ~ r.ext}}"  alt="/" class="img-responsive fl-img-wid">
                        <p>Inspiration and innovation<br> for every athlete in the world</p>
                        <span class="fel-fal-bar2"></span>
                    </div>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>


    <div class="shop-grid">
        <div class="container">


            {#   ---------------------------------------------------#}
            {% for i in image %}


                <div class="col-md-4 grid-stn simpleCart_shelfItem">

                    <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                            <div class="img"><img   src="{{asset("files/") ~ i.ext}}" alt="/" class="img-responsive gri-wid"></div>
                            <div class="info">
                                <div class="pull-left styl-hdn">
                                    <h3>style 01</h3>
                                </div>
                                <div class="pull-right styl-price">
                                    <p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">$190</span></a></p>
                                </div>
                                <div class="clearfix"></div>
                            </div></div>
                    </div>
                    <!-- end normal -->
                    <div class="quick-view">
                        <a href="{{path("home_single")}}">Quick view</a>
                    </div>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>












    {# <h1>Products list</h1>
 
     <table border="1">
         <thead>
             <tr>
                 <th>Id</th>
                 <th>Name</th>
                 <th>Sku</th>
                 <th>Price</th>
                 <th>Quantity</th>
                 <th>Description</th>
 
             </tr>
         </thead>
         <tbody>
             {% for product in products %}
                 <tr>
 
                     <td>{{ product.id }}</td>
                     <td>{{ product.name }}</td>
                     <td>{{ product.sku }}</td>
                     <td>{{p.price|number_format}}$ </td>
                     <td>{{ product.quantity }}</td>
                     <td>{{ product.description }}</td>
 
                     </tr>
 
                     {% endfor %}
                         </tbody>
                         </table>
                         #}




    {#    <table class="table table-bordered">
    
    
        </tr>
        {% set totalPrice = 0 %}
        {% for c in cart.get() %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{c.name}}</td>
                <td>{{c.price|number_format}}تومان</td>
                <td>{{c.count}} (
                    {% if c.count < c.quantity %}
                        <a href="{{path}}/Product_work/add2cart.php?product_id={{c.id}}">+</a>
                    {% else %}
                        +
                    {% endif %}
                    /
                    {% if c.count > 0 %}
                        <a href="{{path}}/Product_work/add2cart.php?product_id={{c.id}}&count=-1">-</a>
                    {% else %}
                        -
                    {% endif %}
                    )
                </td>
                <td>{{c.count * c.price}}تومان</td>
            </tr>
            {% set totalPrice = totalPrice + (c.count * c.price) %}
        {% endfor %}
    </table>
    #}

    <table border="1">
        <thead>
            <tr>

                <th>Name</th>
                <th>Price</th>
                <th>Add</th>

            </tr>
        </thead>
        <tbody>
            {% for p in products %}
                <tr>

                    <td>{{p.name}}</td> 
                    <td>{{p.price|number_format}}$ </td>
                    <td> <a href="{{path("cart_add",{id: p.id})}}"> add to cart  </a></td>



                </tr>

            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
